name: Build Wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-10.15]
    env:
      # Seems to have trouble parsing our setup.py, thus:
      CIBW_PROJECT_REQUIRES_PYTHON: ">=3.7"
      # Install numpy with a wheel (do NOT compile it):
      CIBW_BEFORE_BUILD: "pip install --only-binary :all: numpy"
      # There are no numpy wheels for these:
      CIBW_SKIP: pp37-* pp38-* cp310-manylinux_i686
      # Quick test with C code using NumPy C API:
      CIBW_TEST_COMMAND: "python {package}/Tests/test_Cluster.py"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Optional
          submodules: true  # Optional, use if you have submodules

      - name: Checkout tag/commit
        run: |
          git submodule update --init biopython
          cd biopython
          # This was the commit for Biopython 1.79 before tagged
          git checkout 048c4cdd717e9eb56affaaf66275b90d7dc274e9
          cd ..

      # Could not work out how to give package path with
      # uses: pypa/cibuildwheel@v2.3.1
      - name: Build wheels
        run: |
          pipx run cibuildwheel==2.3.1 --output-dir wheelhouse biopython

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
